*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

i,svg{
    pointer-events: none;
}

.kick-pad , .snare-pad , .hihat-pad {
    width: 4rem;
    height: 4rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
    
}
.kick-pad{
    background-color: rgb(255, 226, 153);
}
.hihat-pad{
    background-color: rgb(138, 255, 255);
}
.snare-pad{
    background-color: rgb(224, 152, 255);
}
.kick-pad.active{
    background-color: rgb(255, 183, 0);
}
.hihat-pad.active{
    background-color: rgb(0, 224, 224);
}
.snare-pad.active{
    background-color: rgb(179, 0, 255);
}

.kick-track , .hihat-track , .snare-track{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    width: 70%;
    margin-top: 5rem;
}
.kick , .snare , .hihat{
    display: flex;
} 

.sequencer{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.controls{
    display: flex;
    justify-content: space-between;
    margin: 0rem 2rem;
    flex: 1;
    align-items: center;
}

.controls button{
    padding: 0.4rem;
    border: none;
    background: #969696;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    transition: all 0.5s ease;
}

.pad{
    transition: all 0.5s ease;
}

.play{
    padding: 1rem 2.5rem;
    background: #969696;
    border: none;
    color: white;
    font-size: 1rem;
    margin-top: 2rem;
}

#kick-select{
    padding: 0.4rem;
    font-size: 0.7rem;
    background-color: rgb(37, 255, 255);   
}
#hihat-select{
    padding: 0.4rem;
    font-size: 0.7rem;
    background-color: rgb(198, 65, 255);
}
#snare-select{
    padding: 0.4rem;
    font-size: 0.7rem;
    background-color: rgb(255, 196, 45);
    
}
option{
    background: #969696;
    color: white;
}

@keyframes playtrack{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}